

<body>
	<div class="jumbotron" id="topNav">
    <div class="container">
        <div class='tabs'><a href='/'>Log In </a></span></div>
        <div class='tabs'><a href='/logout'> Log Out</a></span></div>
    </div>
</div>
<div class="jumbotron">
	<div class="container">
		<h1>Budget Buddy</h1>
		<br>

		<p>Register a new account!</p>		<br>
		<form action="/register" method="post">
		    <div>
		        <label>Username:</label>
		        <input class='login' type="text" name="username"/>
		    </div>
		    <div>
		        <label>Password:</label>
		        <input class='login' type="password" name="password"/>
		    </div>
		    <div>
		        <input class='submit' type="submit" value="Register"/>
		    </div>
		</form>
		
	
		
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h3>Made By a Student</h3>
			<p>The perfect budget application designed for college students, by a college student.</p>
		</div>
		<div class="col-md-4">
			<h3>Free and Easy</h3>
			<p>Budget Buddy's design is simple yet efficient.</p>
		</div>
	</div>
</div>


<!--Bootstrap stuff-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>