<body id="background">

<div class="container">
	<div id="homeTitle">
	<h1>Budget Buddy</h1>
	</div>

	<div id="description">
		<h3>An expense tracker web application for college students</h3>
	</div>

	<div id="login">
		<form method="GET" action="/dashboard"> 
			Sign Up For Free<br><br>
			<input type="text" name="firstname" placeholder="first name"><br><br>
			<input type="text" name="lastname" placeholder="last name"><br><br>
			<input type="text" name="username" placeholder="username"><br><br>
			<input type="text" name="password" placeholder="password"><br><br>
			<button type="submit" class="button">Sign In</button>

		</form>
	</div>

	<!--
	<div id="nav">
	<a href='/home/login'>Log in</a>
	<a href='/home/login'>Sign Up</a> -->
	</div>
</div>

</body>